<div class="page-header">
  <h3>Sobre</h3>
</div>

<div class="container">

    <p>
        Esta aplicação foi criada para possibilitar o gerenciamento autônomo da garagem da CWI.
        As informações postadas são de inteira responsabilidade do usuário que a fez.
    </p>

    <h4>Dicas</h4>
    <ul>
        <li>Insira um gravatar no seu <a href="#/profile">perfil</a> para facilitar a identificação do proprietário do veículo.</li>
        <li>Preencha todas as informações de contato no seu <a href="#/profile">perfil</a>. Dessa forma quem procurar por você poderá encontrá-lo de diversas formas.</li>
        <li>Evite ocupar as vagas das extremidades opostas do estacionamento coberto. Começe estacionando nas vagas mais próximas ao centro do prédio.</li>
    </ul>

    <h4>Contribua</h4>
    <p>Ajude a melhorar essa aplicação. O código fonte é aberto.</p>

    <h5>parking-api</h5>
    <p>
        Backend da aplicação criado com spring-boot.
        <a class="btn btn-default" href="https://github.com/gustajz/parking-api" target="_blank">
            <i class="fa fa-github"></i> Github
        </a>
    </p>

    <h5>parking-app</h5>
    <p>
        Frontend da aplicação criado com AngularJS.
        <a class="btn btn-default" href="https://github.com/AlexandreSNeto/parking-app" target="_blank">
            <i class="fa fa-github"></i> Github
        </a>
    </p>

</div>
