<div class="jumbotron well">
  <h2>Veículos CWI SL</h2>
</div>

<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
      <input type="text" class="form-control" id="search" placeholder="Filtrar" ng-model="search">
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-default" ng-click="criarVeiculo()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Incluir
    </button>
  </div>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Placa</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Proprietário</th>
    </tr>
  </thead>
  <tr ng-repeat="veiculo in veiculos | filter:search">
    <td>{{veiculo.placa}}</td>
    <td>{{veiculo.modelo}}</td>
    <td>{{veiculo.cor}}</td>
    <td>{{veiculo.proprietario.nome}}</td>
  </tr>
</table>
