<div class="container container-login">

    <div ng-include="'components/messages/messages.html'"></div>
    <form class="form-login" ng-submit="entrar()">
        <div cg-busy="{promise:loginPromise,message:'Carregando...'}">

            <img src="static/images/logo_parking_lg.png" class="img-responsive" alt="Image" />

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" name="username" ng-model="auth.username" placeholder="Usuário" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" ng-model="auth.password" placeholder="Senha" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </div>
    </form>

</div>
