body {
  background-color: #eee;
}

/* LOGIN */
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login-heading {
    background-image: url(../images/logo_cwi.png);
    background-size: 180px;
    height: 80px;
    width: 180px;
    margin: 0 auto 25px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}