body {
    padding-top: 30px;
    background-image: url(../images/textura.png);
}
/* Angular Bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* LOGIN */
.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login img {
    padding-bottom: 10px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.container-login {
    padding-top: 30px;
}

/* Search */
.search-table td.center, .search-table th.center {
    text-align: center;
}

/* Bootstrap Customizations */
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
.navbar-brand {
    padding: 5px 5px;
}
.page-header {
    padding-bottom: 0px;
    border-bottom: 2px solid #FBB041;
}

/* Help Block */
.helper-gravatar {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.gravatar {
    border-radius: 50%;
    overflow: hidden;
}
.gravatar-fixed-center {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.gravatar-navbar {
    margin-right: 5px;
    margin-top: -2px;
}
.gravatar-profile {
    width: 60px;
    height: 60px;
}

.margin-bottom-sm {
    margin-bottom: 15px;
}

#itens-menu > ul > li > a > i {
    margin-right: 5px;
}

.navbar-profile {
    margin-left: 5px;
}
