user  nginx;
worker_processes  16;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

pcre_jit on; # Enables “just-in-time compilation” for the regular expressions known by the time of configuration parsing.

events {
    worker_connections 1024;
    multi_accept on; # Allow worker processes to accept more than one new connection at a time.
    use epoll;
}

http {
    # Caches information about open file descriptors for freqently accessed files.
    open_file_cache max=1000 inactive=20s; # Cache information about last 1000 accessed files, drop from cache if not accessed in 20sec.
    open_file_cache_valid 30s;             # Sets a time after which open_file_cache elements should be validated.
    open_file_cache_min_uses 2;            # Sets the minimum number of accesses during the inactive parameter of open_file_cache required to remain in the cache.
    open_file_cache_errors  off;

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;
    error_log /var/log/nginx/error.log;


    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    gzip on;
    gzip_vary on;                                        # Enables inserting the “Vary: Accept-Encoding” response header field.
    gzip_proxied expired no-cache no-store private auth; # Enables gzipping of responses for proxied requests depending on the request and response.
    gzip_comp_level 2;                                   # Sets a gzip compression level of a response.
    gzip_min_length 10240;                               # Enables compression for files that are over 10k
    gzip_disable "MSIE [1-6]\.";
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript image/svg+xml;

    include /etc/nginx/conf.d/*.conf;
}
