<div class="page-header">
  <h3>Meu Perfil</h3>
</div>

<div ng-include="'components/messages/messages.html'"></div>

<div cg-busy="{promise:ownerPromise,message:'Carregando...'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="gravatar gravatar-profile pull-right">
                    <img src="https://s.gravatar.com/avatar/{{owner.gravatar}}?s=60&d=mm" />
                </div>
            </div>
            <div class="col-lg-10">
                <span>{{owner.usuario}}</span>
                <br />
                <span>Criado em: {{owner.dataCriacao | date: 'dd/MM/yyyy HH:mm'}}</span>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal" ng-submit="salvar()" name="profileForm">
                <div class="form-group" show-errors>
                    <label for="name" class="col-sm-2 control-label">Nome *</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="nome" id="name" ng-model="owner.nome" ng-required="true" maxlength="128">
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="gravatar" class="col-sm-2 control-label">Hash Gravatar</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" name="gravatar" id="gravatar" ng-model="owner.gravatar">
                            <span class="input-group-addon helper-gravatar" ng-click="openModalGravatar()">?</span>
                        </div>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="celular" class="col-sm-2 control-label">Celular *</label>
                    <div class="col-sm-2">
                        <input type="tel" class="form-control" name="celular" id="celular" ng-model="owner.celular" ui-mask="99 9 9999 999?9" ng-required="true">
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="ramal" class="col-sm-2 control-label">Ramal *</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="ramal" id="ramal" ng-model="owner.ramal" ng-required="true" ng-maxlength="4" maxlength="4">
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="andar" class="col-sm-2 control-label">Andar</label>
                    <div class="col-sm-1">
                        <select class="form-control" name="andar" ng-model="owner.andar" ng-options="floor.id as floor.description for floor in floors">
                        </select>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="posicao" class="col-sm-2 control-label">Posição</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="posicao" id="posicao" ng-model="owner.posicao" maxlength="16" ng-maxlength="16">
                    </div>
                </div>

                <div class="form-group" ng-if="!owner.vagaGerencial">
                    <label for="posicao" class="col-sm-2 control-label">Participar do Sorteio</label>
                    <div class="col-sm-2">
                        <label class="radio-inline"><input type="radio" name="sorteio" ng-model="owner.participaSorteio" ng-value="true">Sim</label>
                        <label class="radio-inline"><input type="radio" name="sorteio" ng-model="owner.participaSorteio" ng-value="false">Não</label>
                    </div>
                </div>

                <div class="form-group" show-errors ng-if="owner.numeroVaga">
                    <label for="posicao" class="col-sm-2 control-label">Vaga</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="numeroVaga" id="numeroVaga" ng-model="owner.numeroVaga" ng-disabled="true">
                    </div>
                </div>

                <button show-in-mobile type="submit" class="btn btn-primary btn-block margin-bottom-sm">Salvar</button>
                <button hide-in-mobile type="submit" class="btn btn-primary pull-right margin-bottom-sm">Salvar</button>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="gravatar.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">O que é o Gravatar ?</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p>
            Gravatar é um serviço que permite a utilização de fotos de perfil em diversas aplicações.
            Nós possuímos suporte ao gravatar. Ao acessar pela primeira vez, o sistema cria uma Hash a partir do seu e-mail da CWI.
        </p>
        <p>
            Caso você não possua uma conta no gravatar ou não possua o e-mail da CWI cadastrado,
            acesse: <a href="https://pt.gravatar.com/" target="_blank">https://pt.gravatar.com/</a> e faça os ajustes.
        </p>
        <p>
            Após criar sua conta e inserir uma imagem para um endereço de e-mail, descubra sua Hash acessando: http://pt.gravatar.com/site/check/SEU_EMAIL.
            Caso você tenha escolhido o e-mail da CWI, a sua imagem deve aparecer aqui automaticamente.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Fechar</button>
    </div>
</script>
