<nav class="navbar navbar-default" ng-show="user.id !== undefined">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#itens-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img alt="Estacionamento CWI" src="static/images/logo_parking.png">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="itens-menu">
            <ul class="nav navbar-nav">
                <li hide-in-mobile><a href="#/">Buscar Veículo</a></li>
                <li show-in-mobile><a href="#/" data-toggle="collapse" data-target="#itens-menu">Buscar Veículo</a></li>
                <li hide-in-mobile><a href="#/profile">Perfil</a></li>
                <li show-in-mobile><a href="#/profile" data-toggle="collapse" data-target="#itens-menu">Perfil</a></li>
                <li hide-in-mobile><a href="#/vehicle">Meus Veículos</a></li>
                <li show-in-mobile><a href="#/vehicle" data-toggle="collapse" data-target="#itens-menu">Meus Veículos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li show-in-mobile><a href="#/profile" data-toggle="collapse" data-target="#itens-menu">{{user.name}}</a></li>
                <li hide-in-mobile><a href="#/profile">{{user.name}}</a></li>
                <li><a href="#/logout">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>
