<form class="form-inline">
    <div class="input-group">
      <div class="input-group-addon"><span class="fa fa-search"></span></div>
      <input type="text" class="form-control" id="search" placeholder="Placa" ng-model="licensePlate" autofocus>
    </div>
</form>

<div ng-show="veiculos.length > 0" ng-include="'components/paginator/paginator.html'"></div>
<table class="table table-striped table-hover search-table" ng-show="veiculos.length > 0">
  <thead>
    <tr>
      <th>Veículo</th>
      <th class="center">Proprietário</th>
      <th>Contato</th>
    </tr>
  </thead>
  <tr ng-repeat="veiculo in veiculos">
    <td>
        {{veiculo.placa}}
        <br />
        {{veiculo.modelo}} {{veiculo.cor}}
    </td>
    <td class="center">
        <img src="https://www.gravatar.com/avatar/{{veiculo.proprietario.gravatar}}?d=mm" />
        <br />
        {{veiculo.proprietario.nome}}
        <br />
        {{veiculo.proprietario.andar}}° Andar / {{veiculo.proprietario.posicao}}
        <br />
        <div show-in-mobile><strong>Ramal:</strong> {{veiculo.proprietario.ramal}}</div>
    </td>
    <td hide-in-mobile>
        <div><strong>Ramal:</strong> {{veiculo.proprietario.ramal}}</div>
        <div><strong>E-Mail:</strong> <a href="mailto:{{veiculo.proprietario.usuario}}@cwi.com.br?Subject=Por favor, retire seu carro no estacionamento">{{veiculo.proprietario.usuario}}@cwi.com.br</a></div>
        <div><strong>Celular:</strong> {{veiculo.proprietario.celular}}</div>
    </td>
    <td show-in-mobile>
        <div class="row">
          <div class="col-md-6">
            <a href="intent://send/55{{veiculo.proprietario.celular}}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="btn btn-default">
              <span class="fa fa-whatsapp fa-2x fa-fw"></span>
            </a>
          </div>
          <div class="col-md-6">
            <a href="tel:55{{veiculo.proprietario.celular}}" class="btn btn-default">
              <span class="fa fa-phone fa-2x fa-fw"></span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a href="sms:55{{veiculo.proprietario.celular}}?body=Por favor, retire seu carro no estacionamento" class="btn btn-default">
              <span class="fa fa-comment-o fa-2x fa-fw"></span>
            </a>
          </div>
          <div class="col-md-6">
            <a href="mailto:{{veiculo.proprietario.usuario}}@cwi.com.br?Subject=Por favor, retire seu carro no estacionamento" class="btn btn-default">
              <span class="fa fa-envelope-o fa-2x fa-fw"></span>
            </a>
          </div>
        </div>
    </td>
  </tr>
</table>
<div ng-show="veiculos.length > 0" ng-include="'components/paginator/paginator.html'"></div>

